<system.webServer>
    <httpProtocol>
        <customHeaders>
            <add name="Content-Security-Policy" value="default-src 'self'; frame-src teams.microsoft.com *.teams.microsoft.com *.skype.com;" />
            <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        </customHeaders>
    </httpProtocol>
</system.webServer>
